<div class="small-12 columns">
<h1>Create New User</h1>
	<%= form_for @user, :class=> "form-group" do |f| %>
		<%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control" %>
		<%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control" %>	
		<%= f.text_field :email, :placeholder => "Email", :class => "form-control" %>
		<%= f.password_field :password, :placeholder => "Password (Minimum 6 Characters)", :class => "form-control" %>
		<%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %> <br />
		<%= f.submit "Sign Up!", :class => "small-12 columns button success" %>
	<% end %>
</div>